{% extends 'templates_student.html' %}
{% block title %}Achievement{%endblock%}

{% block css %}
<style>
    .ach{
        width: 200px;
        height: 200px;
        background-color:rgb(191, 191, 232);
        text-align: center;
        padding-top: 1rem;
        margin: 1rem 0;
     
    }
    col{
        margin: 1rem 0;
    }
</style>

{% endblock %}

{% block content %}
<h1>Your Achievments</h1>
<div class="row">
    {% for achievements in achieve %}
    <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="ach">
            <h3>{{achievements.0}}</h3>
            <p>Year: {{achievements.2}}</p>
            <p>Category: {{achievements.1}} </p>
            <p>Semester: {{achievements.3}}</p>

        </div>
    </div>
    {%endfor%}

{% endblock %}