{% extends 'templates.html' %}

{% block css %}
<style>

    .all{
        display: flex;
        position: relative;
        left: 10rem;
    }
    .contain{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 200px;
        height: 160px;
        background-color: #0E0CB5;
        margin-top: 2rem;
        text-align: center;
        padding-top: 3rem;
    }
    .contain1{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 200px;
        height: 160px;
        background-color: #060575;
        margin-top: 1rem;
        left: 10rem;
        text-align: center;
        padding-top: 3rem;
        z-index: 1;
    }
    .contain2{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 200px;
        height: 160px;
        background-color: #0E0CB5;
        margin-top: 2rem;
        left: 20rem;
        text-align: center;
        padding-top: 3rem;
    }

   
</style>

{% endblock %}

{% block content %} 

<div class="all">
    <div class="contain">   
        <p>Students</p> 
        {{count.0.0}}
    </div>
    <div class="contain1">
        <p>Total Registered</p>
        {{count2}}
    </div>
    <div class="contain2">
        <p>Focal Person</p>
        {{count1.1.0}}
    </div>

</div>
{% endblock %}