{% extends 'templates.html' %}

{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10px;
 
}
.contain{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  margin-top: 3rem;
  margin-left: 12rem;
  border: none;
}
.heading{
    display: flex;

}

.contain .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  width: 400px;
  height: 100px;
  background-color: #060575;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}

.drop{
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 24rem;
}

.contain .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);


}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0;
   background:#060575;
   margin-top: 50px;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background:#060575;
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}


.dropzone{
  /*width: 300px;
  height: 100px;*/
  width: 305px;
  height: 128px;
  border:2px dashed #ccc;
  color: #ccc;
  line-height: 150px;
  text-align: center;
}

.dropzone.dragover{
  border-color: #000;
  color: #000;
}
.btn1{
    width:150px;
    height:50px;
    margin-top: 2rem;
    margin-right: 30rem;
}

</style>

{% endblock %}


{% block content %}
<div class="contain">
    <div class="heading">
        <div class="title">
            Register
        </div>
        <div class="drop">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Choose role
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Admin/addstu">Student</a></li>
                  <li><a class="dropdown-item" href="/Admin/addfocal">Focal</a></li>
                </ul>
              </div>
        </div>

    </div>

    <div class="content">
      <form action="#" method="POST">
        {% csrf_token %}
        <div class="user-details">
 
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" name="firstname" required>
          </div>

          <div class="input-box">
            <span class="details">Email</span>
            <input type="Email" name="f_email" required>
          </div>

          <div class="input-box">
            <span class="details">Middle Name</span>
            <input type="text" name="middlename">
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" name="f_password"  required>
          </div>

          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" name="lastname" required>
          </div>


           <div class="input-box">
            <span class="details">Designation</span>
            <input type="text" name="designation" required>
          </div>


          <button class="btn btn-outline-primary btn1" type="submit">Register</button>

          <!-- <div class="card">
<div class="card-header">
</div>
<div class="card-block">
<form action="#" class="dropzone dz-clickable">

<div id="uploads"></div>
<div class="dropzone" id="dropzone">Drop File</div>

<script >
  (function(){
    var dropzone = document.getElementById('dropzone');

    dropzone.ondrop = function(e){
      e.preventDefault();
      this.className = 'dropzone';

    }
    dropzone.ondragover = function(){
      this.className = 'dropzone dragover';
      return false;
    }
    dropzone.ondrleave = function(){
      this.className = 'dropzone';
      return false;

    }

  }());
</script>

        </div>
       
        <div class="button">
          <input type="submit" value="Bulk Add"> 
        </div>

         <div class="input-box">
          <i class="fa-regular fa-user-plus"></i>
          <i class="bi bi-people-fill"></i>
          </div> -->


      </form>
    </div>
  </div>

{% endblock %}

