{% extends "templates.html" %}

{% block css %}
<style>
    .s_information{
        text-align: center;
        width: 400px;
        height: 80px;
        background-color: #060575;
        color: #fff;
        padding-top: 1.5rem;
        margin-left: 22rem;
    }

    .containStudent{
        
        text-align: center;
    }

    .filter{
        width: 800px;
        height: 60px;
        background-color: gray;
        margin-top: 1rem;
        margin-left: 9rem;
        padding-top: 1rem;
    }
    select{
        border-radius: 8px;
        margin-right: 1rem;
    }
    .btn2{
        width: 150px;
    }
 .row{
    margin-left: 9rem;
 }
 table,th,td{
    border: 1px solid;
    padding: 10px;
 }
 table{
    margin-top: 1rem;
    margin-left: 15rem;
 }
    
</style>

{% endblock %}
{% block content %}
<div class="container containStudent">
    <div class="s_information">
        <h3>Students Information</h3>
    </div>
    <div class="filter">
        <form action="" method="POST">
            <select name="optionlist" onChange="combo(this, 'demo')" aria-label="Default select example" name="role">
                <option>Bsc-Computer Science</option>
                <option>Bsc-IT</option>
                <option>AI</option>
                <option>BlockChain</option>
                <option>FullStack</option>
            </select>
    
            <select name="optionlist" onChange="combo(this, 'demo')" aria-label="Default select example" name="role">
                <option>category</option>
                <option>Focal Person</option>
                <option>Admin</option>
            </select>
    
            <select name="optionlist" onChange="combo(this, 'demo')" aria-label="Default select example" name="role">
                <option>Student</option>
                <option>Focal Person</option>
                <option>Admin</option>
            </select>
            <select name="optionlist" onChange="combo(this, 'demo')" aria-label="Default select example" name="role">
                <option>Student</option>
                <option>Focal Person</option>
                <option>Admin</option>
            </select>
            <button class="btn btn-primary btn2" type="submit">Search</button>
        </form>

    </div>
    <div>
        
        <div>
            <table>
                <tr>
                    <th>First name</th>
                    <th>Middle name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                {% for record in records %}
                <tr>
                    <td>{{record.0}}</td>
                    <td>{{record.1}}</td>
                    <td>{{record.2}}</td>
                    <td>{{record.3}}</td>
                    <td>{{record.4}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
              
    </div>
    
</div>

{% endblock %}