{% extends 'templates.html'%}
{% block title %}Admin Dashboard{%endblock%}

{% block css %}
<style>
   
    .all{
        display: flex;
        position: relative;
        margin-left:8%;
        
    }
    .contain{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 50%;
        height: 160px;
        background-color: #0E0CB5;
        margin-top: 1rem;
        text-align: center;
        padding-top: 3rem;
        z-index: -2;
    }
    .contain1{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 50%;
        height: 160px;
        background-color: #060575;
        margin-top: 0;
        left:40%;
        text-align: center;
        padding-top: 3rem;
        z-index: -1;
    }
    .contain2{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 50%;
        height: 160px;
        background-color: #0E0CB5;
        margin-top: 1rem;
        left:80%;
        text-align: center;
        padding-top: 3rem;
        z-index: -2;
    }   

.activeUsers{
    width: 30%;
    height: 455px;
    text-align: left;
    float: right;
    margin-top: -28.3rem;
    background-color:#d8d8df;
          
}

.chart{
    margin-top: 13rem;
    width: 60%;
    margin-left:6%;
}

h5{
    color: rgb(0, 0, 0);
    margin-left: 3.8rem;
}
@media(max-width:1100px){
.activeUsers{
    margin-top:100px;
    margin-right:30%;
    width:40%;
   
    height:auto;
    margin-bottom:2rem;
}
.chart{
    width:700px;
   padding-left:2%;
   text-align:center;
  
}
.contain{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 60%;
        height: 160px;
        background-color: #0E0CB5;
        margin-top: 1rem;
        text-align: center;
        padding-top: 3rem;
        z-index: -2;
        left:20%;
    }
    .contain1{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 60%;
        height: 160px;
        background-color: #060575;
        margin-top: 0;
        left:75%;
        text-align: center;
        padding-top: 3rem;
        z-index: -1;
    }
    .contain2{
        position: absolute;
        font-weight: bold;
        color: white;
        width: 60%;
        height: 160px;
        background-color: #0E0CB5;
        margin-top: 1rem;
        left:130%;
        text-align: center;
        padding-top: 3rem;
        z-index: -2;
    }   
}

@media(max-width:824px){
    .activeUsers{
    width:220px;
   
   
    }
    .contain{
       width:120%;
        height:150px;
        margin-left:-60px;
        
       
    }
    .contain1{
        margin-top:173px;
        margin-left:-76px;
        width:150%;
        
        
        
    }
    .contain2{
     
        width:120%;
        height:150px;
        margin-left:-30px;
    }
    .chart{
        padding-top: 150px;
        
        
    }
}

</style>
{% endblock %}

{% block content %} 


    <div class="text-center">
        <div class="row align-items-start" >
          <div class="col-6">
              <div class="all">
                  <div class="contain">   
                      <p>Students</p> 
                      {{count.0.0}}
                  </div>
                  <div class="contain1">
                      <p>Total Registered</p>
                      {{count2}}
                  </div>
                  <div class="contain2">
                      <p>Focal Person</p>
                      {{count1.1.0}}
                  </div>
          </div>  
            
        </div>
        <div class=" chart">
            <div class="">
                <div class="bg-white" >
                    <div>
                        <canvas id="myChart" ></canvas>
                      </div>                      
                </div>
            </div>
        </div>
    
      </div>

    
    <div class="activeUsers p-3  border-start-0 rounded-end">
        
    
        {% if request.session.name %}
        
        <h5>Active Users</h5>
        <ul>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16" style="background-color: green; border-radius:100px ;margin-right:1rem; ">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"  />
              </svg>{{request.session.name}}</li>
         </ul>
        {%else%}
        <h5>No active users</h5>
        {% endif %}
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
    var xValues = ["Bsc.CS", "Bsc. IT", "AI", "Block Chain", "Digital Media"];
    var yValues = [{{major.0.0}},{{major.1.0}},{{major.2.0}},{{major.3.0}},{{major.4.0}}];
    var barColors = ["red", "green","blue","orange","brown"];

    new Chart("myChart", {
    type: "bar",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor: barColors,
        data: yValues
        }]
    },
    options: {
        legend: {display: false},
        title: {
        display: true,
        text: "Total Registers Students"
        }
    }
    });
    </script>

    

{% endblock %}